.UserInfo{
    width: 45%;
    height: 25%;
  
    background: rgba( 255, 254, 254, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

  
    padding: 0 20px;
    display: inline-block;

    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color:white;

    
        }